@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=MonteCarlo&display=swap");

$mainFont: "Fira Sans", sans-serif;
$secondaryFont: "MonteCarlo", cursive;
$liPadding: 10px 15px;

* {
  box-sizing: border-box;
}

.header {
  background: red;
  ul {
    padding: 0;
    margin: 0;
    li {
      font-family: $mainFont;
      display: inline-block;
      padding: $liPadding;
      list-style: none;
    }
  }
}

.container {
  width: 50 * 15 + px;
  margin: 0 auto;
}

article {
  width: 1000px / 1200px * 100%;
  display: inline-block;
  float: left;
  margin-top: 10px;
}

aside {
  width: 200px / 1200px * 100%;
  display: inline-block;
  padding: 10px;
  img {
    width: 100%;
  }
}

.submenu {
  &.blue {
    background: blue;
  }
  &.nav li {
    list-style: none;
    font-family: $secondaryFont;
    color: white;
    padding: $liPadding;
  }
  &.sky ul {
    padding: 0;
  }
  &:hover {
    background: green;
  }
}
